body, html {
    height: 100%;
}

/* Navigation */
.nav {
    background-color: black;
    padding: 15px;
}

.demo-layout-transparent {
    background: url('assets/luna-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    height: 40%;
}
.demo-layout-transparent--static-height {
    height: 260px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button, .test-cell {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: white;
    background-color: black;
}

.test-cell {
    padding: 10px;
    text-align: center;
}

.brown-background {
    background-color: saddlebrown;
}
.gray-background {
    background-color: dimgray;
}

.margin-md {
    margin: 25px;
}

.circle-md {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: peachpuff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-md__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Swiper styles*/
.swiper-container {
    height: 60%;
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1f1f1f;
}

/*parallax*/
.parallax {
    background-image: url('../../assets/moon-original.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax__container {
    left: 0;    
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%
}

.parallax__container__item {
    background-color: #111;
    color: white;
    letter-spacing: 5px;
    padding: 15px;
    text-transform: uppercase;
}